.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.outer-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% /2)
}

.inner {
    display: flex;
    align-items: center;
    text-align: center;
}

.outer-left {
    display: flex;
    align-items: flex-end;
}

.outer-left .inner {
    display: flex;
    align-items: flex-end;
    text-align: left;
}

.outer-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.outer-right .inner {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}